Python==3.13.11
fastapi==0.135.2
mlflow==3.10.1
mlflow_skinny==3.10.1
mlflow_tracing==3.10.1
numpy==2.4.3
pandas==3.0.1
pydantic==2.12.5
pytest==9.0.2
PyYAML==6.0.3
Requests==2.33.0
scikit_learn==1.8.0
tensorflow==2.21.0
